@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/star-wars');

body{
    background-image: url('./panoramic-view-sunset-night.jpg');
    background-attachment: fixed;
    background-size: cover;
    /* font-family: 'Star wars', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}